html{
    padding: 250px 50px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(247, 244, 239);
    border: solid 1px;
    padding: .2em;
    
}
.header_h{ 
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: .7em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: solid .1em;
    padding: 0 1em;
   
}
.section_1{
    justify-content: center;
    padding: 1em 0;
    text-align: center;
    color:rgb(24, 26, 26)
    

}
.picture img{
    display: flex;
    width: 148px;
    height: 8.8em;
    padding-bottom: .4em ; 

}
.name {
    display: flex;
    padding-top: .5em; 

}
.last_name{
     display: flex;
    padding-top: .5em; 
}
.h_2 {
}
.paragraph {
}
.socialred {
    padding: ;
}
.ul_1 {
    display:flex;
    list-style: none;
    justify-content: center;
    padding-bottom: .3em;
    gap: .8em;
}
